# Mongo 
MONGO_DB_USER=admin
MONGO_DB_PASSWORD=admin
MONGO_DB_DATABASE=med-text-analytics-processor-database

# Mongo Express
MONGO_EXP_USER=admin
MONGO_EXP_PASSWORD=admin

# Postgres Patient Document 
POSTGRES_PD_DB=patient-document-database
POSTGRES_PD_USER=postgres
POSTGRES_PD_PASSWORD=postgres
POSTGRES_PD_PORT=5432

# Postgres Nextcloud
NEXTCLOUD_DB=nextcloud
NEXTCLOUD_DB_USER=nextcloud
NEXTCLOUD_DB_PASSWORD=nextcloud

# Postgres Keycloak
KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak

# Nextcloud
NEXTCLOUD_USER=nextcloud
NEXTCLOUD_PASSWORD=nextcloud

# Keycloak
KEYCLOAK_ADMIN=keycloak_admin
KEYCLOAK_ADMIN_PASSWORD=keycloak_pass
AI_PROCESSING_CLIENT_SECRET=ai_processing_secret
PATIENT_DOCUMENT_DEV_CLIENT_SECRET=patient_document_secret

# Gemini API
GEMINI_API_KEY=MY...API...KEY
GEMINI_MODEL_CLASSIFIER=gemini-3.1-flash-lite
GEMINI_MODEL_EXTRACTOR=gemini-3.1-flash-lite

KAFKA_ENABLED=true

TRUST_STORE_PASSWORD=5enh@F0r7e
